@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    background-color: #EEF9BF;
    padding: 40px 120px 0 120px;
    
}

.container{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    color: #75B79E;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.game-title{
    text-align: center;
}

.cards-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 47px;
}

.card{
    width: 117px;
    height: 146px;
    position: relative;
    margin:0 34px 34px 34px;
    transform-style: preserve-3d;
    transition: transform .5s;
}

.face{
    width: 100%;
    height: 100%;
    position:absolute;
    background-color: #A7E9AF;
    border-radius: 5px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: #99CEA8 solid;
    border-width: 1px;
    backface-visibility: hidden;
}

.front{
    background-image: url("../assets/front.png");
   
}

.back{
    background-image: url("#");
    transform: rotateY(180deg);
}
.card.flip {
    transform: rotateY(180deg);
  }